
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',serif;
}

body{
    background-image: linear-gradient(to right, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
  

}

.card{
    width: 330px;
    min-height: 400px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 7px 7px 35px rgb(0, 0,0, 0.24);
    background-image:url(/img/Montains.jfif);
    background-size: 100% 150px;
    background-repeat: no-repeat;
    text-align: center;

padding: .1px;
}


.card_person{
    background-image: url(/img/mypic.jpg);
    width: 150px;
height: 150px;
margin: 0 auto;
margin-top: 105px;
border-radius: 50%;
background-size: contain;
background-position: center;
border: 5px solid white;

}

.card_name{

    margin-top: 20px;
    margin-bottom: 10px;
}

.card_media{
    margin-top: 40px;
    width: 100%;
    height: 90px;
    border-top: 1px solid #b3a2a2;
    display: flex;
    justify-content: center;
    
}


.card_icon{
    width: 25%;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    transition: all 0.3s linear;
}
.card_icon:hover{
    transform: translateY(-7px);
   

}


.card_icon--facebook{

    background-image: url('/ico/facebook.svg');
}

.card_icon--twitter{

    background-image: url('/ico/twitter.svg');
}

.card_icon--instagram{
    background-image: url('/ico/instagram.svg');
}

