
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{

    font-family: 'Poppins',sans-serif;

}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

}

#quizArea, #resultArea, #playAgain {
    display: none;
    
}

h3, h4, h5 {
    margin: 1rem 0 0;
}

.container {
    height: 100%;
    width: 100%;
    
}

header, #start, #submit {
    padding-top: 2rem;
}

header {

    font-weight: bolder;
color: black;
}

.btn{

    margin-top: 10px;
display: inline-block;
background: #333;
color: #fff;
font-size: 17px;
border-radius: 5px;
width: 60%;

}


.btn:hover{

    letter-spacing: 1px;
    background: white;
    color: black;
    border-color: black;
}