@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
.body {
  background-color: #e6e7ee;
}
.container-footer_link:hover {
  text-decoration: underline;
  letter-spacing: 1px;
}
button#Enviar {
  display: inline-block;
  font-weight: 400;
  color: #44476a;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.0625rem solid transparent;
  padding: 0.55rem 0.95rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.55rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
section#suggest-section {
  background: #e6e7ee;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
img {
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 426px;
  background-attachment: fixed;
  background-position: center;
  display: block;
}

.service-items {
  display: flex;
  padding-top: 25px;

  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
/* comentari */
#logo {
  width: 42%;
  height: 10%;
  display: flex;
  flex-direction: column;
}
.masthead {
  grid-area: content;
  align-self: flex-end;
  background-image: url(/img/fotos-6to_AutoCollage_7_Images.jpg);
  filter: contrast(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}
section#services-section {
  background: #e6e7ee;
}
.masthead_title {
  margin-top: 200px;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 500;
  color: white;
  font-weight: bold;
  text-align: center;
}
.masthead_description {
  font-weight: 20px;
  color: white;

  font-weight: bold;
}
.container_title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 50px;
}

.header {
  background: #e6e7ee;
  display: flex;
  position: fixed;
  width: 100%;
  padding: 20px 20px;
  z-index: 3;
}

.navbar {
  float: right;
  margin-top: 8px;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu_item {
  float: left;
  display: inline-flex;
  padding: 0 16px 2px 20px;
}

.menu_link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.menu_link:hover {
  color: #1293d4;
  border-color: black;
}
/* .services {
  margin-bottom: 50px;
} */

.service {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  background-color: #e6e7ee;
  border-color: #d1d9e6;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
}
.service_icon {
  color: #444442;
  font-size: 350%;
  text-align: center;
  padding-top: 10%;
}

.about {
  background: #e6e7ee;
}

.article-col {
  float: left;
  width: 55%;
}

.article-col_description {
  text-align: justify;
}
.aside {
  float: right;
  width: 38%;
  margin-top: 10px;
}

.container-aside {
  margin-bottom: 50px;
}
.container-aside img {
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

p {
  text-align: center;
}
.icons-social {
  text-align: center;
  padding: 5px;
}
.menu-list-social {
  list-style-type: none;
}

.icons-social_item {
  display: inline;
}
span {
  color: white;
  letter-spacing: 1px;
  font-weight: lighter;
}

#portafolio button {
  background-color: hsl(210, 82%, 56%);

  width: 40%;
  height: 3rem;
  border: 0;

  color: white;
  align-items: center;
  align-content: center;
  text-align: center;
  border-radius: 5px;
  transition: all 150ms ease-out;
}
#portafolio button:focus {
  outline: none;
}

#portafolio button:hover {
  background-color: hsl(210, 82%, 62%);
  cursor: pointer;
}
.icons-social_i {
  font-size: 23px;
  color: white;
  padding: 10px;
  transition: all 0.3s linear;
}
a {
  color: white;
  text-decoration: none;
}
.link:hover {
  letter-spacing: 2px;
  color: #1293d4;

  transition: all 0.3s linear;

  transform: translateY(-7px);
}
.icons-social_i:hover {
  color: blue;
  transform: translateY(-7px);
}

.footer {
  padding: 40px;
  color: whitesmoke;
  background-color: black;
  text-align: center;
}
.container-footer_link {
  text-decoration: none;
}

@media (max-width: 800px) {
  .container .avatar__image {
    height: 70%;
    width: 30%;
  }
  .header {
    padding-bottom: 20px;
  }

  .navbar {
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }

  .menu__item {
    float: none;
    text-align: center;
    width: 100%;
  }

  .service {
    width: 100%;

    text-align: center;
    float: none;
  }

  .newsletter__title {
    float: none;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }

  .newsletter-form {
    float: none;
    text-align: center;
    width: 100%;
  }

  .newsletter__input {
    width: 98%;
  }

  .newsletter__input[type="email"] {
    width: 98%;
    margin-bottom: 5px;
  }
  .menu_link {
    padding: 0 16px 2px 20px;
  }
  .btn-submit {
    display: block;
    width: 100%;
  }

  .article-col {
    float: none;
    text-align: center;
    width: 100%;
  }

  .aside {
    width: 100%;
    float: none;
    text-align: center;
    padding-bottom: 20px;
  }

  .container-aside {
    margin-top: 20px;
    width: 100%;
    padding: 0;
  }
  .container-aside img {
    width: 300px;
    height: 250px;
  }

  .btn-submit--contact-form {
    width: 100%;
  }
  #logo {
    width: 100%;
  }
}

.contenido-slider {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  color: #1e2528;
  background-color: #90b8f8;
}

.contenido-slider:nth-child(2) {
  background: #0ea2f6;
  color: #1e2528;
}
.contenido-slider:nth-child(3) {
  background: #0ef6be;
  color: #1e2528;
}
.contenido-slider:nth-child(4) {
  background: #0ea2f6;
  color: #1e2528;
}
.contenido-slider:nth-child(5) {
  background: #0ef6be;
  color: #1e2528;
}
.contenido-slider > img {
  width: 400px;
  box-shadow: -6px 8px 6px -6px #000;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.contenido-slider > div {
  border-radius: 10px;
  width: 40%;
}
.contenido-slider h4 {
  font-weight: 500;

  line-height: 30px;
}
.contenido-slider h1 {
  text-align: center;
  font-size: medium;
  box-shadow: -6px 8px 6px -6px #444442;

  line-height: 30px;
}
.container #social {
  color: #000;
}

.container #social:hover {
  color: #0ea2f6;
}
.contenido-slider a {
  color: black;
  background: #f7f7f7;
  width: 140px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
  text-decoration: none;
}
.contenido-slider a:hover {
  color: black;
  background: transparent;
  border: 2px solid white;
}

.slider-contenedor {
  width: 100%;
  display: flex;
}

@media screen and (max-width: 900px) {
  .contenido-slider > img {
    width: 150px;

    height: 130px;
  }

  .contenido-slider > div {
    width: 40%;
  }

  .contenido-slider h2 {
    font-size: 23px;
  }
}

@media screen and (max-width: 600px) {
  .contenido-slider {
    flex-direction: column-reverse;
    /* border-radius: 10px; */
  }

  .contenido-slider > div {
    width: 80%;
  }

  .contenido-slider h2 {
    font-size: 23px;
  }
}
.container select {
  width: 30%;
  height: 3rem;
  border: 1px solid #eee;
  color: #666;
  align-items: center;
  align-content: center;
  text-align: center;
  transition: all 150ms ease-out;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  background-color: #e6e7ee;
}
.container .menu_link {
  color: #31344b;
}

.container .menu_link:hover {
  color: #1293d4;
}
.container input {
  width: 40%;
  height: 3rem;
  padding: 0 0.8rem;
  display: inline-block;
  border: unset;
  color: #44476a;
  background-color: #e6e7ee;
  font-size: 1rem;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
.container button {
  position: relative;
  border: unset;
  width: 40%;
  text-align: center;
  max-width: 60%;
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  font-size: 14px;
  border-color: #d1d9e6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  padding: 0.55rem 0.95rem;
}
button:focus {
  outline: none;
}

button:hover {
  color: #31344b;
  background-color: #e6e7ee;
  border-color: #e6e7ee;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  cursor: pointer;
}

/* button:active {
  background-color: hsl(210, 82%, 62%);
} */

input:focus {
  outline: none;
  /* box-shadow: 0 0 0 1pt hsl(210, 82%, 56%);
  background-color: #f5f5f8; */
}

select:focus {
  outline: none;
  border-color: #d1d9e6;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}

@media (max-width: 450px) {
  .menu_item {
    padding: 0px 4px 0px 4px;
  }

  .menu_link {
    font-size: 13px;
  }
  .container-aside {
    width: 100%;
  }
  .container-aside_img {
    height: 426px;
  }

  .masthead_title {
    font-size: 30px;
  }

  .masthead_description {
    font-size: 17px;
  }
  .container input {
    width: 90%;
  }

  .container button {
    width: 70%;
  }
  .container select {
    width: 50%;
  }
}

/* swiper sliderk */

.card {
  box-shadow: 0 5px 6px -6px black;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  margin: 20px 0;
  width: 300px;
}

section .card .image img {
  width: 10rem;
  border-radius: 0.55rem !important;
  margin-left: 1rem !important;
  height: 10rem;
  padding: 1rem !important;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
  margin-top: -3rem !important;
}

.card::before {
  height: 40%;
  width: 100%;

  background: #0ea2f6;
  content: "";
  border-radius: 20px 20px 0 0;
  position: absolute;
}
.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 30px 0px;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #e6e7ee;
  background-clip: border-box;
  /* border: 0.0625rem solid rgba(243, 247, 250, 0.05); */
  border-radius: 0.55rem;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
  border-color: #d1d9e6 !important;
}

.card .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
  padding: 0.5rem;
}

.name-profession .name {
  text-align: center;
  font-size: 16px;

  font-weight: 600;
  color: black;
}

.name-profession .profession {
  text-align: center;

  font-size: 13px;
  font-weight: 400;
  color: #1e2528;
}

.card .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i {
  font-size: 18px;
  margin: 0 2px;
  color: #7d2ae8;
}

.avatar__image {
  /* Rounded border */
  border-radius: 50%;
  display: flex;
  flex-direction: column;

  /* Take full size */
  height: 70%;
  width: 10%;
}
.card .button {
  width: 100%;

  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button {
  outline: none;
  border: none;
  color: #31344b;

  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover {
  color: #31344b;
  background-color: #e6e7ee;
  border-color: #e6e7ee;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
