
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,500;1,600&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

a{
  cursor: pointer;
}
html{   scroll-behavior: smooth;}
.body{

    background-color: #f4f4f4;
}
.container-footer_link:hover{
  text-decoration:underline;
  letter-spacing: 1px;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
img{
     border-radius: 10px;
       background-size: contain;
  background-repeat: no-repeat;
  height: 426px;
  background-attachment: fixed;
  background-position: center;
}
#logo{
  width: 42%;
  height: 10%;
  display: flex;
  flex-direction: column;
}
.masthead{

    grid-area: content;
    align-self: flex-end;
  background-image: url(https://64.media.tumblr.com/115041351890f072f80bb22c8e2ee134/tumblr_ozywdcxF5Y1rqqedro2_r1_1280.jpg) ;
  filter:  contrast(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.masthead_title{
  
  
    margin-top: 200px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-weight: bold;
    text-align: center;
}
.masthead_description{
    font-weight: 20px;
    color:white ;
    
    font-weight: bold;
}
.container_title{
    font-size: 22px;
    margin-top: 50px;

}

.header{
background: #fff;
display: flex;
position: fixed;
width: 100%;
padding: 20px 20px;
z-index: 3;
box-shadow: -6px 8px 6px -6px #000;



}

.navbar{

    float: right;
    margin-top: 8px;
}

.menu{
    margin: 0;
    padding: 0;

}



.menu_item{
    float: left;
    display: inline-flex;
    padding: 0 16px 2px 20px;
}

.menu_link{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.menu_link:hover{

  
 
    color: #1293d4;
    border-color: black;
}
.services{
    margin-bottom:50px;
  }
  
  .service{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
  }
.service_icon{

    color: #444442;
font-size: 350%;
text-align: center;
padding-top: 10%;
}

.about{
    background: #fff;
}

.article-col{
    float: left;
    width: 55%;
}

.article-col_description{
    text-align: justify;
}
.aside{
    float: right;
    width: 38%;
    margin-top: 10px;
}

.container-aside{
   margin-bottom: 50px;
}

p{
    text-align: center;
}
.icons-social{
    text-align: center;
    padding: 5px;
}
.menu-list-social{
    list-style-type:none;
}

.icons-social_item{
    display: inline;
}
span{
  color: white;
  letter-spacing: 1px;
  font-weight:lighter;
}
.icons-social_i{
    font-size: 23px;
    color:white;
    padding: 10px;
    transition: all 0.3s linear;
}
a{
    color: white;
    text-decoration: none;
}
.link:hover{
    letter-spacing: 2px;
    color: #1293d4;
    
    transition: all 0.3s linear;

    transform: translateY(-7px);
}
.icons-social_i:hover{
    color: blue;
    transform: translateY(-7px);
}

.footer{
    padding: 40px;
    color: whitesmoke;
    background-color: black;
    text-align: center;
}
.container-footer_link{
    
    text-decoration: none;
}

@media (max-width:800px) {
  
  .header{
        padding-bottom:20px;
      }
    
      .navbar{
        text-align:center; 
        width:100%; 
        padding:0 20px;
      }
      
      .menu__item{
        float:none; 
        text-align:center; 
        width:100%; 
      }
        
      .service{
        width:100%;
        padding:0;
        text-align:center;
        float:none;
      }
          
      .newsletter__title{
        float:none; 
        text-align:center; 
        width:100%; 
        margin-top:40px;
      }
      
      .newsletter-form{
        float:none; 
        text-align:center; 
        width:100%; 
      }
      
      .newsletter__input{
        width:98%;
      }
      
      .newsletter__input[type="email"]{
        width:98%;
        margin-bottom:5px;
      }
      .menu_link{
        padding: 0 16px 2px 20px;
      }
      .btn-submit{
        display:block;
        width:100%;
      }
      
      .article-col{
        float:none;
        text-align:center;
        width:100%;
      }
      
      .aside{
        width:100%; 
        float:none;
      text-align:center;
        padding-bottom:20px;
      }
      
      .container-aside{
        margin-top:20px;
        width:100%;
        padding:0;
      }
    
      .btn-submit--contact-form{
        width:100%;
      } 
      #logo{
        width: 100%;
        
    
      }
}





.contenido-slider{

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
color: #1e2528;
  background-color:#90B8F8;
}

.contenido-slider:nth-child(2){
  background:#0EA2F6;
  color: #1e2528;
  
}
.contenido-slider:nth-child(3){
  background: #0ef6be;
  color: #1e2528;
}
.contenido-slider:nth-child(4){
  background:#0EA2F6;
  color: #1e2528;
}
.contenido-slider:nth-child(5){
  background:#0ef6be;
  color: #1e2528;
}
.contenido-slider > img{
  width: 400px;
  box-shadow: -6px 8px 6px -6px #000;
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.contenido-slider > div{
  border-radius: 10px;
  width: 40%;
}
.contenido-slider h4{

  font-weight: 500;

  line-height: 30px;
}
.contenido-slider h1{
text-align: center;
  font-size: medium;
  box-shadow: -6px 8px 6px -6px #444442;

  line-height: 30px;

}

.contenido-slider a{
color: black;
background: #f7f7f7;
width: 140px;
display: block;
padding: 15px 0;
text-align: center;
border-radius: 5px;
margin-top: 20px;
text-decoration: none;
}
.contenido-slider a:hover{

  color: black;
  background: transparent;
  border:2px solid white;
}


.slider-contenedor{
  width: 100%;
  display: flex;
  

}

@media screen and (max-width:900px){
   .contenido-slider > img{
       width: 150px;
      
       height: 130px;
   }

   .contenido-slider > div{

      width: 40%;
   }

   .contenido-slider h2{
       font-size: 23px;
   }
}

@media screen and (max-width:600px){
  .contenido-slider{
    flex-direction: column-reverse;
    border-radius: 10px;
  }

  .contenido-slider > div{

     width: 80%;
  }

  .contenido-slider h2{
      font-size: 23px;
  }
}

@media (max-width:450px){
    .menu_item{
        padding: 0px 4px 0px 4px;
    }
    .menu_link{
        font-size: 13px;
    }
    .container-aside{
        width: 100%;

    }
    .container-aside_img{
        height: 426px;
        
    }
    .masthead_title{
        font-size: 45px;
        
    }
    .masthead_description{
        font-size: 17px;
    }
  

}

 
