@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;1,500;1,600&display=swap');

*{
   font-family: "Poppins",sans-serifn;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}


:root{

    --radius:4px;
    --padding:2rem;
}


.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:#f5f5f5 ; */
}

span,a{

    display: block;
    text-align: center;
color:  hsl(210,82%, 56%);
text-decoration: none;
}

a:hover{
    letter-spacing: 2px;
}
#leave{

    transition: all 0.3s linear;
}
#leave:hover{
 

    
    transition: all 0.3s linear;

    transform: translateY(-7px);
}
.form-container{

    position: relative;
    width: 400px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0,0,0.24);
    border-radius: 8px;
    animation: pop 300ms 150ms ease-out forwards;
    opacity: 0;
}

@keyframes pop {
    from{transform: translateY(4rem);opacity: 0;}
    to{transform: translateY(0);opacity: 1;}
}

.form-container .form-head{
    display: flex;
    height: 4rem;
    border-bottom: 2px solid #eee;
    color: #666;
    font-size: 1.2rem;

}

.form-container .form-head{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container .form-body{

    position: relative;
    width: 100%;
    padding: var(--padding);
}
.form-container .form-body .field{
    width: 100%;
}


.form-container .form-body .field + .field{
    margin-top: var(--padding);
}
.form-container .form-body .field .input-field{
    position: relative;
}

.form-container .form-body .field .input-field .field-icon{

    position: absolute;
    top:1rem;
    left: 1rem;
}
#google{

    transition: all 0.3s linear;
}
#google:hover{
    transform: translateY(-7px);
}

#facebook{
    transition: all 0.3s linear;
}
#facebook:hover{
    transform: translateY(-7px);

}
form input{

    width: 100%;
    height: 3rem;
    padding: 0 0.8rem;
    padding-left: 2.8rem;
    border:1px solid #eee;
    color: #666;
    border-radius: var(--radius);
    transition:  all 150ms ease-out;
}


form input:focus{
   outline: none;
   box-shadow: 0 0 0 1pt hsl(210,82%, 56%);
   background-color: #f5f5f8;
}

form button{

    position: relative;
    background-color: hsl(210, 82%, 56%);
    color: #fffffeee;
    height: 2.5rem;
    padding: 0 2rem;
    border:0;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75rem;
    cursor: pointer;
    width: 100%;
    border-radius: var(--radius);
    transition: all 150ms ease-out;
}


form button:focus{
    outline: none;
}

form button:hover{
    background-color: hsl(210, 82%,62%);
    letter-spacing: 2px;
}

form button:active{
    background-color: hsl(210, 82%,62%);
}

.hidden-label{
    display: none;
}

.alt-option-label{
    display: block;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 0.9rem;
    color: #888;
}
.alt-login-methods-container{
    display: flex;
    justify-content: center;
}

.alt-login-methods-container .login-method{
    flex:0 0 3rem;
    width: 3rem;
    height: 3rem;
    margin: 0rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0,0.2);
    border-radius: var(--radius);
    cursor: pointer;
    align-items: center;
justify-content: center;
transition: all 150ms ease-out;
}

.alt-login-methods-container .login-method svg{

    width: 50%;
}
in-methods-container .login-method:hover{

    box-shadow: 0 3px 6px rgba(0,0, 0, 0,0.2);
    background-color: #f5f5f5;
}


.alt-login-methods-container .login-method:active{

    box-shadow: 0 2px 4px rgba(0,0, 0, 0,0.2);
    background-color: #f2f2f2;
}

@media screen and (max-width:480px) {
    
    .form-container{
        width: 80%;
    }
}