

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{

    font-family: 'Poppins',sans-serif;
background:scroll;
}

h1{
    text-decoration: underline;
}
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;

}

#timeDisplay{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border: 1px solid gray;

}
#canv{

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    height: 100%;

}
#quizArea, #resultArea, #playAgain {
    display: none;

    
}

h3, h4, h5 {
    margin: 1rem 0 0;
}

.container {
    height: 100%;
    width: 100%;
    
}

header, #start, #submit {
    padding-top: 2rem;
}

header {

    font-weight: bolder;
color: black;
}

.btn{

    margin-top: 10px;
display: inline-block;
background: #333;
color: #fff;
font-size: 17px;
border-radius: 5px;
width: 60%;

}

label{

  text-justify:distribute;
}

.btn:hover{

    letter-spacing: 1px;
    background: white;
    color: black;
    border-color: black;
}
#topnav{
	margin:0;
	background-color:white;
	padding:10px;
}
img{
    
    width: 27%;
    border-radius: 5%;
}

