@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Montserrat', sans-serif;
}
.header{

display: flex;
height: 100vh;
width: 100%;


}

.cta{
    margin: auto;
    background-color: royalblue;
    color: white;
    padding: 1.2em 3em ;
    text-decoration: none;
    border-radius: .4em;
}

.modal{

    position: fixed;
    background-color: #333;

bottom: 0;
left: 0;
right: 0;
display: flex;
--opacity:0;
--pointer:none;
opacity: var(--opacity);
pointer-events: var(--pointer);
transition: opacity .4s;
}
.modal:target{

    --opacity:1;
    --pointer:unset;
}

.modal_container{
margin: auto;
overflow: hidden;
text-align: center;
padding: 2.5em 1.5em;
border-radius: 1em;
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
}
.modal:target .modal_container{
    animation: show 1s .5 backwards;
}

.modal:target .modal_picture{
    animation: scale .5s 1.0s backwards;
}

@keyframes scale{
    0%{

        transform: scale(0);
    }
}
@keyframes show{

    0%{

        transform: translateY(-150vh);
    }

    100%{

        transform: translateY(0);
    }
}
.modal_img{

    width: 100%;
    display: block;

}

.modal_picture{

    width: 90%;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 2em;

}

.modal_title{

    font-size: 2.5rem;
    font-weight: 500;
}

.modal_title--bold{

    font-weight: 700
    ;
}

.modal_paragraph{

    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
}


.modal_close{
display: inline-block;
    border: 1px solid;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    border-radius: .4em;
}

@media (max-width:600px) {
    
    .modal_title{

        font-size: 1.7rem;
    }
}